<!DOCTYPE html>
<html>
<head>
    @using System.Web.Optimization;
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/font-awesome")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")

</head>
<body class="is-preload">
    <div id="wrapper">
        
        @Html.Partial("_navbar")
        <div>
            @RenderBody()
        </div>
        @Html.Partial("_footer")
    </div>
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/toaster")
    @Scripts.Render("~/bundles/js")

</body>
</html>