@{
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }
}
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="http://localhost:44325/" class="logo">
                <span class="fa fa-car"></span> <span class="title">RENT A CAR</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>
        </div>
    </header>
    @if (User.IsInRole("Admin"))
    {
        <h2>You are admin now</h2>
    }
    <nav id="menu">
        <h2>@Html.ActionLink("RentCar Menu", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</h2>
        <ul>
            @{
                if (isLoggedIn)
                {
                    <li>@Html.ActionLink(User.Identity.Name, "Index", "Home")</li>
                    <li>@Html.ActionLink("Signout", "Signout", "Accounts")</li>
                    <li>@Html.ActionLink("Booking", "Booking", "Reservations")</li>

                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "Accounts")</li>
                    <li>@Html.ActionLink("Register", "Signup", "Accounts")</li>
                }
            }
            <li>@Html.ActionLink("Offers", "Offers", "Home")</li>
            <li>@Html.ActionLink("Fleet", "Fleet", "Home")</li>

            <li>
                <a href="#" class="dropdown-toggle">About</a>

                <ul>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Team", "Team", "Home")</li>
                    <li>@Html.ActionLink("Blog", "Blog", "Home")</li>
                    <li>@Html.ActionLink("Testimonials", "Testimonials", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                    <li>@Html.ActionLink("Terms", "Terms", "Home")</li>
                </ul>


            </li>
            <li><a href="Home/Contact">Contact Us</a></li>
        </ul>
    </nav>
